<h3 style="margin-left:100px">Formulaire</h3>
<div class="container mt-4">

  {{form_start(form)}}
    <div class="row">
        <div class="col-md-2"> {{form_row(form.title)}}</div>
        <div class="col-md-2"> {{form_row(form.author)}}</div>
        
    <div>
    <div class="row">
        <div class="col-md-2"> {{form_row(form.price)}}</div>
        <div class="col-md-2"> {{form_row(form.synopsis)}}</div>
    <div>
   {{form_row(form.image)}}
     {{form_row(form.solde)}} 
    {{form_widget(form.save,{'attr':{'class':'btn btn-primary'}})}}
    {{form_end(form) }}
</div>
